html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
    background: rgb(27, 27, 27)
}

.calculator div{
    display: flex;
    gap: 10px;
    margin-top:5px;  
}

.calculator div div{
    flex: 1 0 auto;
}

#display{
    border: 1px solid #FFFEF2;
    height: 50px;
    border-radius: 5px;
    color: #FFFEF2;
    text-align: right;
    padding: 3px;
    justify-content: flex-end;
    align-items: center;
    font-size: 18pt;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 400;
    
}

button {
    border-color: #FFFEF2;
    background-color: rgb(27, 27, 27);
    color: #FFFEF2;
    border-radius: 5px;
    border-width: 1px;
    width: 100%;
    font-size: 18pt;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: 400;
}

.number,
.operator,
#equals {
    width: 40px;
}

